.tooltip {
    width: 110%;
    height: 210%;
    bottom: -55%;
    left: -5%;
    position: absolute;
    outline: 1px solid gray;
    border-radius: 10px;
    background-color: #202020;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 5;
}

.talent-button {
    height: 70px;
    width: 200px;
    margin: 10px;
    background-color: #202020;
    color: white;
    border: none;
    outline: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.selected {
    outline: 2px solid gold;
}