.talent-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;
}

.talent-row {
    display: flex;
    background-color: #101010;
    justify-content: space-evenly;
    border: 1px solid gray;
    border-radius: 10px;
}