.ability-pool-box {
    grid-row: span 4;
    display: flex;
    border: 1px solid gray;
    border-radius: 10px;
    height: 100%;
    margin-bottom: 30px;
}

.spec-select-column {
    background-color: #202020;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.talent-box {
    display: grid;
    flex: 1;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
}

.build-box {
    grid-row: span 2;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    outline: 1px solid gray;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: space-between;
}

.talent-button {
    min-height: 70px;
    width: 100%;
    margin: 10px;
    background-color: #202020;
    color: white;
    border: none;
    outline: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
    justify-self: center;
    position: relative;
}