.talent-box {
    display: grid;
    flex: 1;
    grid-template-rows: 1fr 2fr;
    align-items: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
}

.build-box {
    padding: 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    outline: 1px solid gray;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: space-between;
}

.spec-select-column {
    background-color: #202020;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ability-pool-box {
    display: flex;
    border: 1px solid gray;
    border-radius: 10px;
    height: 100%;
    margin-bottom: 30px;
}